{% extends "base.html" %}

<title>
    
{% block title %}

    Sunderman Conservatory Theory Assessment

{% endblock title %}

</title>

{% block content %}
<style>
* {
    font-family: "Avenir"; 
}

.jumbotron {
    color: #e87722;
    background-color: #002f6c;
}

button {
    margin-left:10px;
}

</style>

<div class="jumbotron">
    <img src="/static/img/gettysg.jpg" style="width: 120px; float: left;">

    <p class="h1 text-center" style = "padding: 10px; font-weight: bold;"> Sunderman Conservatory of Music</p>
    <p class = "h1 text-center" style = "font-weight: bold;"> Theory Placement Assessment</p>
</div>



<p class = "text-right" style = "float: right;">Time Started: <span id="datetime"></span></p>
<p class = "text-left" style = "background-color: #eeeeee;"> Time left: <span id="timeleft"></span></p>
<div class="container">
    <form id="friend-form">
        <div class="row">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group col-4">
                <label class="col-12">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            
            <div class = "col text-center">
                <input id="start-exam" type="submit" class="btn btn-primary" value="Start Exam" />
            </div>

        </div>


<hr />
<!-- Exam holds the current question shown to the students -->
<div id = "exam" style="display:none"> 
    <div class="text-center" id = "question_container">
        <h3 id = "question_title">This will hold the question title</h3>
        <div id = "question_prompt"> This will hold the question prompt</div>
        <div id = "question_number"></div>
        <div class="d-flex justify-content-center" id = "current_question"> This will hold the current question</div>
  
        <div class="container" id="note-name-bar">
            <p></p>
                <div class="btn-group btn-group-lg">
                    <button type="button" class="note-name" id="c">C</button>
                    <button type="button" class="note-name" id="d">D</button>
                    <button type="button" class="note-name" id="e">E</button>
                    <button type="button" class="note-name" id="f">F</button>
                    <button type="button" class="note-name" id="g">G</button>
                    <button type="button" class="note-name" id="a">A</button>
                    <button type="button" class="note-name" id="b">B</button>
                    <button type="button" class="note-name" id="sharp">&#9839;</button>
                    <button type="button" class="note-name" id="natural">&#9838;</button>
                    <button type="button" class="note-name" id="flat">&#9837;</button>
                </div>
        </div>

        <div class="container" id="button-bar">
            <div class="row">
                <div class="col text-center">
                    <button type="button" class="accidental" id="#">&#9839;</button>
                    <button type="button" class="accidental" id="">&#9838;</button>
                    <button type="button" class="accidental" id="b">&#9837;</button>
                    <!-- <div id="current_accidental"> </div> -->
                </div>
            </div>
        </div>  
        <p></p>

        <button type="button" class="btn btn-primary" id="previous">Previous</button>
        <button type="button" class="btn btn-primary" id="next">Next</button>
        <p></p>
        <p><select id="question-number"></select></p>
        <button type="button" class="btn btn-primary" id="save-work" style="display:none">save your work</button>
        <div type="button" class="btn btn-primary" id="submit-exam" onclick="complete()">Complete the exam</button>
  
    </div>
</div>
<form>
</div>
<!-- This shows database entries - will be deleted eventually -->
<!-- <div class="container-fluid">
    <table class="table table-striped table-sm" id="my_friends">
        <thead>
            <tr>
                <th>Slate ID</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
        {% for friend in friends %}
        <tr>
            <td>{{friend.slate_id}}</td>
            <td>{{friend.first_name}}</td>
            <td>{{friend.last_name}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table> -->

</div>
{% endblock content %}


{% block javascript %}
<script>

/* Declare some global variables - maybe wrap in a function eventually*/
VF = Vex.Flow; /* Vexflow */

/* all possible pitches and accidentals - note, no double accidentals for now */ 

const all_pitches = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
const all_accidentals = ['b', '#', '']


// get the slate id provided in the url
        let params = new URLSearchParams(location.search);
        let user_id = params.get('slateid');
        // console.log(user_id);
        slate_id_input = document.getElementById("id_slate_id")
        slate_id_input.value = user_id; 
        slate_id_input.readOnly = true; 

        let full_exam = {
            first_name:"",
            last_name:"",
            slate_id:"", /* unique id in the database */
            start_date_time:"",
            end_date_time:"",
            exam: {},
            grade:"",
            grade_treble:"",
            grade_bass:"",
            grade_keyboard:"",
            grade_rhythm:"",
            grade_key_signatures:"",
        }
        slate_id = user_id;

        function complete() {
            if (confirm("Are you sure you are done?")) {
                window.location.href = "https://www.gettysburg.edu/academic-programs/sunderman-conservatory/";
            }

        }

    $(document).ready(function () {

        /* GET AJAX request
        This checks whether this slate_id already has a user in the database
        If it does, it will load it into the response object */

            $.ajax({
                type: 'GET',
                url: "{% url 'validate_slate_id' %}",
                data: "&slate_id=" + slate_id,
                success: function (response) {
                    // if slate_id already in the system
                    if(!response["valid"]){
                        // alert("This slate_id has already been used");
                        // response now holds the information relating to this user in the database
                        // console.log(response[0].fields);
                        full_exam.first_name = document.getElementById("id_first_name")
                        full_exam.first_name.value = response[0].fields.first_name; 
                        full_exam.first_name.readOnly = true;                      
                        full_exam.last_name = document.getElementById("id_last_name")
                        full_exam.last_name.value = response[0].fields.last_name; 
                        full_exam.last_name.readOnly = true;        
                        // console.log(response[0].fields.first_name); 
                        // console.log(response[0].fields.last_name);
                        exam = response[0].fields.exam;
                        // console.log(exam)
                        initializeExamVisuals(exam);
                        startExam(exam);
                        // Here we will need to load the exam into full_exam
                        // and run startTest with the loaded exam 
                    }
                },
                error: function (response) {
                    alert("GET didn't work")
                }
            })




        /*
            On submiting the form, send the POST ajax
            request to server and after successfull submission
            display the object.
        */


            $("#friend-form").submit(function (e) {
                let exam = initializeExam();
                let examString = JSON.stringify(exam);
                // console.log(examString);
                e.preventDefault();
                // serialize the data for sending the form data.
                var serializedData = $(this).serialize() + "&exam=" + examString;
                var json = JSON.stringify(this);
                // console.log(serializedData);
                // make POST ajax call
                $.ajax({
                    type: 'POST',
                    url: "{% url 'post_friend' %}",
                    data: serializedData,
                    success: function (response) {
                        window.location.reload();
                    },
                    error: function (response) {
                        // alert the error if any error occured
                        alert(response["responseJSON"]["error"]);
                    }
                })
            });

        /*
            On focus out on input slate id,
            call AJAX get request to check if the slate id
            already exists or not.
            */
            $("#slate_id").focusout(function (e) {
                e.preventDefault();
                // get the slate id
                var slate_id = $(this).val();
                // console.log(slate_id);
                // GET AJAX request
                $.ajax({
                    type: 'GET',
                    url: "{% url 'validate_slate_id' %}",
                    data: {"#slate_id": slate_id},
                    success: function (response) {
                        // if not valid user, alert the user
                        if(!response["valid"]){
                            alert("This slate_id has already been used");
                            var slateID = $("#slate_id");
                            slateID.val("")
                            slateID.focus()
                        }
                    },
                    error: function (response) {
                        // console.log(response)
                    }
                })
            });
        
            function initializeExam(
                        ID_Treble = 10, 
                        ID_Bass = 10, 
                        Write_Treble = 10, 
                        Write_Bass = 10, 
                        ID_Keyboard = 10, 
                        Insert_Barlines = 3, 
                        Rebeam_Music = 2,
                        Major_Keys = 5,
                        Minor_Keys = 5, 
                        Write_Keys = 6) {
                let exam = [1];   /* The array exam holds all the questions and answers of the exam */
                total_number_of_questions = 0; /* holds the number of actual questions already initialized */

                /* the following loops create the questions */
                let question_number = 1;

                // function addOptionSelector (question_number){
                // let newOption = new Option('Option Text','Option Value');
                // document.getElementById("question-number").innerHTML += "<option value =" + question_number.toString() + "> Question " + question_number.toString() + "</option>";
                // }

                for (i = 0; i < ID_Treble; i++) {
                    exam.push(createPitch(octaves = [4,5], question_type = "ID_Treble", question_number));
                    addOptionSelector(question_number);
                    question_number++;
                    total_number_of_questions ++;
                }
                for (i = 0; i < ID_Bass; i++) {
                    exam.push(createPitch(octaves = [2,3], question_type = "ID_Bass", question_number));
                    addOptionSelector(question_number);
                    question_number++;
                    total_number_of_questions ++;
                }

                for (i = 0; i < Write_Treble; i++) {
                    exam.push(createPitch(octaves = [4,5], question_type = "Write_Treble", question_number));
                    addOptionSelector(question_number);
                    question_number++;
                    total_number_of_questions ++;
                }

                for (i = 0; i < Write_Bass; i++) {
                    exam.push(createPitch(octaves = [2,3], question_type = "Write_Bass", question_number));
                    addOptionSelector(question_number);
                    question_number++;
                    total_number_of_questions ++;
                }

                for (i = 0; i < Insert_Barlines; i++) {
                    exam.push(rhythm_question(i));
                    addOptionSelector(question_number);
                    question_number ++;
                    total_number_of_questions ++;
                }

// TODO CREATE AND EVAULATE KEY SIGNATURE IDENTIFICATION
                
                let possible_major_keys = ['C', 'Db', 'D', 'Eb', 'E', 'F', 'F#', 'G', 'Ab', 'A', 'Bb', 'B'];
                let major_keys = getRandom (possible_major_keys, Major_Keys);

                for (const key in major_keys) {
                    let question = {
                        question_type: 'Major_Keys',
                        question_number: question_number,
                        key: major_keys[key],
                        answer_pitch: "",
                        answer_accidental: "",
                        points_worth: 1,
                        clef: ['bass', 'treble'][Math.round(Math.random())],                         
                        }
                    exam.push (question);
                    question_number ++;
                    addOptionSelector(question_number);
                    total_number_of_questions ++;
                }

                let possible_minor_keys = ['Cm', 'C#m', 'Dm', 'Ebm', 'Em', 'Fm', 'F#m', 'Gm', 'G#m', 'Am', 'Bbm', 'Bm']
                let minor_keys = getRandom (possible_minor_keys, Minor_Keys);

                for (const key in major_keys) {
                    let question = {
                        question_type: 'Minor_Keys',
                        question_number: question_number,
                        key: minor_keys[key],
                        answer_pitch: "",
                        answer_accidental: "",
                        points_worth: 1,
                        clef: ['bass', 'treble'][Math.round(Math.random())],
                        }
                    exam.push (question);
                    question_number ++;
                    addOptionSelector(question_number);
                    total_number_of_questions ++;
                }
      
                function getRandom(arr, n) {
                    var result = new Array(n),
                    len = arr.length,
                    taken = new Array(len);
                    if (n > len)
                        throw new RangeError("getRandom: more elements taken than available");
                        while (n--) {
                            var x = Math.floor(Math.random() * len);
                            result[n] = arr[x in taken ? taken[x] : x];
                            taken[x] = --len in taken ? taken[len] : len;
                        }
                    return result;
                }

                function createPitch(octaves = [4,5], question_type = "", question_number) {
                    let pitch = all_pitches[Math.floor(Math.random() * all_pitches.length)];
                    let octave = octaves[Math.floor(Math.random() * octaves.length)];
                    let accidental = all_accidentals[Math.floor(Math.random() * all_accidentals.length)];
                    let question = {
                        question_type: question_type,
                        given_pitch: pitch,
                        given_octave: octave,
                        given_accidental: accidental,
                        answer_pitch: "",
                        answer_accidental: "",
                        answer_octave: "",
                        question_number: question_number,
                        raw_answer: "",
                        points_worth: 1,
                        points_earned: 0,
                    }
                    return question;
                }

                function rhythm_question(id) {
                    rhythms_array = [
                    "X:1\nK: clef=perc\nL:1/8\nM:4/4\nBB-BB- B3 B |B>B B>B B3 B/B/| BB/B/ B<B BB/B/ B<B  |B2 BB B2 B2|",
                    "X:1\nK: clef=perc\nL:1/8\nM:3/4\nB>B B2 B2| B4 B2| B>B B2 B>B |B3 B BB |B6|",
                    "X:1\nK: clef=perc\nL:1/16\nM:6/8\nB4 BB B4 BB |BBB2B2 B3BBB |B4BB B2B2B2| B3BBB B4B2| B6 z6|",
                    ]
                    let question = {
                    question_type: 'Insert_Barlines',
                    given_rhythm: rhythms_array[id],
                    answer_rhythm: '',
                    points_worth: 5,
                    }   
                    return question;
                }

                var start_date_time = new Date(); /* initialize start time variable */
                var end_date_time = new Date(); /* initialize end time variable */ 
                let exam_duration = 40; /* in minutes */
                end_date_time.setMinutes(start_date_time.getMinutes() + exam_duration); 

                exam.push (
                    {
                        start_date_time: start_date_time.getTime(),
                        end_date_time: end_date_time.getTime(),
                        exam_duration: exam_duration,
                    }

                )
                return exam;
            };

            function startExam(exam) {                
                /* Always start from question 1 */

                if($("#start-exam").length) {
                    $('#start-exam').hide();    
                    // console.log($('#start-exam'))
                };
                if ($("#exam").length) {
                    $('#exam').show();
                }
                // console.log(exam[exam.length -1].start_date_time);

                let start_date_time = new Date();
                start_date_time.setTime(parseInt(exam[exam.length -1].start_date_time));
                $("#datetime").html(start_date_time.toString().slice(0,24));
                end_date_time = (parseInt(exam[exam.length -1].end_date_time))
                let time_left = Math.max (0, Math.round((end_date_time - new Date) / 60000));
               
                $('#timeleft').text(time_left + " Minutes");
                setInterval(function() {
                    time_left = Math.max (0, Math.round((end_date_time - new Date) / 60000));
                    $('#timeleft').text(time_left + " Minutes");
                    if (time_left == 0) {
                        $('#submit-exam').html('Thank you for taking this placement assessment<br> This exam has expired and changes will no longer be saved');
                    }
                }, 1000);


                total_number_of_questions = Object.keys(exam).length - 1; /* the last question is actually where we hold the time started and time to close the exam */
                question_number = 1;
                document.getElementById('question_title').innerHTML = "Question " + question_number.toString();
                
                $(".note-name").click (function (evt) {
                    var note_name = this.id;
                    if ($("#answer1").length > 0) {
                        if (note_name.length == 1) {
                            exam[question_number].answer_pitch = note_name;
                        }
                        else if (exam[question_number].answer_pitch) {
                            switch (note_name) {
                                case 'sharp':
                                    exam[question_number].answer_accidental = "#";
                                    break;
                                case 'natural':
                                    exam[question_number].answer_accidental = "";
                                    break;
                                case 'flat':
                                    exam[question_number].answer_accidental = "b";
                                    break;
                            }
                        }

                        console.log(exam[question_number])
                        if (exam[question_number].answer_pitch) {
                            let addendum = "";
                            if (exam[question_number].question_type == "Major_Keys" || exam[question_number].question_type == "Minor_Keys") {
                                addendum = " " + exam[question_number].question_type.slice(0,5);
                            }
                            $("#answer1").html("<strong> Your answer is " + exam[question_number].answer_pitch.toUpperCase() + exam[question_number].answer_accidental + addendum + "</strong>") ;
                        }
                        else {
                            $("#answer1").html("Please use the buttons to choose a pitch and/or accidental");
                        }

                        
                    }
                    var pagebutton= document.getElementById("save-work");
                    pagebutton.click();

                })
                // console.log(exam[question_number]);
                
                exam[question_number] = show_question (exam[question_number]);

                /* Listener for PREVIOUS question */

                document.getElementById("previous").addEventListener("click", function(){
                
                    // console.log(exam[question_number]);
                    if (document.contains(document.getElementById("reset"))) {
                    document.getElementById("reset").remove();}
                
                    // let current_input = document.getElementById("answer1").value;
                    // if (current_input) {
                    // exam[question_number].raw_answer = current_input;
                    // answer = current_input.toLowerCase();
                    // exam[question_number].answer_pitch = answer.slice(0,1) || "none";
                    // exam[question_number].answer_accidental = answer.slice (1) || "none";
                    // };
                    if (question_number > 1) { question_number -= 1};
                    document.getElementById('question_title').innerHTML = "Question " + question_number.toString();
                    var pagebutton= document.getElementById("save-work");
                    pagebutton.click();
                    exam[question_number] = show_question (exam[question_number]);
                    document.getElementById("question-number").value = question_number.toString();
                });

                /*  Listener for NEXT question */

                document.getElementById("next").addEventListener("click", function(){
                    // console.log(exam[question_number]);
                    if (document.contains(document.getElementById("reset"))) {
                    document.getElementById("reset").remove();}
                    // let current_input = document.getElementById("answer1").value;
                    // if (current_input) {
                    // exam[question_number].raw_answer = current_input;
                    // answer = current_input.toLowerCase();
                    // exam[question_number].answer_pitch = answer.slice(0,1) || "";
                    // exam[question_number].answer_accidental = answer.slice (1) || "";
                    // };
                    if (question_number < total_number_of_questions - 1) { question_number += 1};
                    document.getElementById('question_title').innerHTML = "Question " + question_number.toString();
                    var pagebutton= document.getElementById("save-work");
                    pagebutton.click();
                    exam[question_number] = show_question (exam[question_number]);
                    document.getElementById("question-number").value = question_number.toString();

                });

                document.getElementById("question-number").addEventListener('change', (event) => {
                    // console.log(typeof(event.target.value));
                    if (document.contains(document.getElementById("reset"))) {
                    document.getElementById("reset").remove();}
                    // let current_input = document.getElementById("answer1").value;
                    // if (current_input) {
                    // exam[question_number].raw_answer = current_input;
                    // answer = current_input.toLowerCase();
                    // exam[question_number].answer_pitch = answer.slice(0,1) || "";
                    // exam[question_number].answer_accidental = answer.slice (1) || "";
                    // };
                    question_number = parseInt(event.target.value);
                    document.getElementById('question_title').innerHTML = "Question " + question_number.toString();
                    var pagebutton= document.getElementById("save-work");
                    pagebutton.click();
                    exam[question_number] = show_question (exam[question_number]);
                });

            // show_question (exam[question_number]);
                $("#save-work").click (function(e) {
                    e.preventDefault();
                    start_date_time.setTime(parseInt(exam[exam.length -1].start_date_time));
                    let time_left = Math.max (0, Math.round((end_date_time - new Date) / 60000));

                    if (time_left == 0) {
                        return;
                    }
                    let examString = JSON.stringify(exam);
                    let params = new URLSearchParams(location.search);
                    let user_id = params.get('slateid');
                    document.getElementById("id_slate_id").innerHTML = user_id;
                    var serializedData = "&slate_id=" + user_id + "&exam=" + examString;
                    $.ajax({
                        method: 'POST',
                        url: "{% url 'update_friend' %}",
                        data: "&slate_id=" + user_id + "&exam=" + examString, 
                        success: function (response) {
                        },
                    error: function (response) {
                        // alert the error if any error occured
                        alert("error");
                    }
                })
            });
            // console.log (ID_Treble, ID_Bass, Write_Treble, Write_Bass, ID_Keyboard, Insert_Barlines, Rebeam_Music, ID_Keys, Write_Keys);
    };

    function initializeExamVisuals(exam){
        total_number_of_questions = Object.keys(exam).length - 1 ;
        for (question_number = 1; question_number < total_number_of_questions; question_number++) {
            addOptionSelector(question_number);
        }
    }
    /* */
    function addOptionSelector (question_number){
        let newOption = new Option('Option Text','Option Value');
        document.getElementById("question-number").innerHTML += "<option value =" + question_number.toString() + "> Question " + question_number.toString() + "</option>";
    }

    function show_question(question) {
        current_question_div = document.getElementById("current_question");
        // console.log(question);
        current_question_div.innerHTML = " ";
        switch (question.question_type){
            case "ID_Treble":
            case "ID_Bass":
            case "Write_Treble":
            case "Write_Bass":
                question = show_ID_Notes(question);
                break;
            case "Insert_Barlines":
                show_Insert_Barlines(question);  
                break;
            case "Major_Keys":
                Major_Keys(question);
                break;
            case "Minor_Keys":
                Minor_Keys(question);
                break;
            }
        // console.log(question);
        return question;  
    }



    function createContainer (question){

        serial = "1";
        current_question_div = document.getElementById("current_question");

        var container = document.createElement('container');
        container.id = "container" + serial;
        container.class = "col-xs-6";
        document.getElementById(current_question_div.id).appendChild(container);  

        var div = document.createElement('div');
        div.id = 'boo' + serial;
        div.className = "d-flex p-2";
        document.getElementById(container.id).appendChild(div);  

        var input = document.createElement('div');
        input.id = 'answer' + serial;
        // input.autocomplete = "new-password"
        if (question.question_type.slice(0,2) == "ID") {
            document.getElementById("question_prompt").innerHTML = question.question_type.slice(3) + " Clef: Name the following note"
            // input.style.display = "block";

            if (!question.raw_answer) {
                input.innerHTML = "<strong> Please click on a note and/or accidental to answer </strong>"
                }
            else {
                input.placeholder = "<strong> Your answer is: </strong>" + question.raw_answer
                }  
        }
        /* check if it's a writing question */ 
        else if (question.question_type.slice(0,2) == "Wr") {
            input.placeholder = "Write the note <strong>" + (question.given_pitch.toUpperCase() + question.given_accidental + "</strong> on the staff");
            input.style.display = "none";
            document.getElementById("question_prompt").innerHTML = question.question_type.slice(6) + " Clef: Write the note <strong>" + (question.given_pitch.toUpperCase() + question.given_accidental) + "</strong> by clicking <strong>in</strong> the staff";
        }
        else if (question.question_type == "Insert_Barlines") {
            document.getElementById("question_prompt").innerHTML = "Add barlines to the following rhythm. Click on a note to add a barline after it. Click again to remove the barline.";
        }

        input.type = "text";
        input.size = "4";
        document.getElementById(container.id).appendChild(input);  
    }

    function Major_Keys(question){
        createContainer(question);
        note_name_bar = document.getElementById("note-name-bar");
        button_bar = document.getElementById("button-bar");
        note_name_bar.style.display = "block";
        button_bar.style.display = "none";
        if (question.answer_pitch) {
                $(answer1).html ("<strong> Your answer is " + question.answer_pitch.toUpperCase() + question.answer_accidental + " Major </strong>");
            }
            else {
                $(answer1).html ("<strong> Please click on a note and/or accidental to answer </strong>");
            }


        $("#question_prompt").html("Name the following <strong> Major </strong> Key ");
        if (question.raw_answer) {
            $("#answer1").val(question.raw_answer);
        }
        input = document.getElementById("answer1");
        input.autocomplete = "new-password";
        var container = document.getElementById('boo1');
        let question_number = question.question_number;
        var div = document.createElement('div');
        div.id = 'paper';
        document.getElementById(container.id).appendChild(div);
        music = "X:1\nM:C\nK:" + question.key + " clef="+question.clef+"\nL: 1/4\n x4"
        var visualObjs = ABCJS.renderAbc("paper", music);
        return 
    }

    function Minor_Keys(question){
        createContainer(question);
        note_name_bar = document.getElementById("note-name-bar");
        button_bar = document.getElementById("button-bar");
        note_name_bar.style.display = "block";
        button_bar.style.display = "none";
                if (question.answer_pitch) {
                $(answer1).html ("Your answer is " + question.answer_pitch.toUpperCase() + question.answer_accidental + " Minor");
            }
            else {
                $(answer1).html ("Please click on a note and/or accidental to answer ");
            }
        $("#question_prompt").html("Name the following <strong> Minor </strong> Key ");
        if (question.raw_answer) {
            $("#answer1").val(question.raw_answer);
        }
        input = document.getElementById("answer1");
        input.autocomplete = "new-password";
        var container = document.getElementById('boo1');
        let question_number = question.question_number;
        var div = document.createElement('div');
        div.id = 'paper';
        document.getElementById(container.id).appendChild(div);
        music = "X:1\nM:C\nK:" + question.key + " clef="+question.clef+"\nL: 1/4\n x4"
        var visualObjs = ABCJS.renderAbc("paper", music);
        return 
    }

    function show_Insert_Barlines(question){
        createContainer(question);
        note_name_bar = document.getElementById("note-name-bar");
        note_name_bar.style.display = "none";
        let question_number = document.getElementById("question_title").innerHTML.slice(-2);
        var container = document.getElementById('boo1');
        var div = document.createElement('div');
        div.id = 'paper';
        document.getElementById(container.id).appendChild(div);
        
        var button = document.createElement('button');
        button.id = "reset";
        button.className = "btn btn-primary";
        button.innerHTML = "Click here to remove all barlines";
        document.body.appendChild(button);
        refresh = document.getElementById("reset")
        
        var rhythm_answer = document.createElement('div');
        rhythm_answer.id = 'rhythm-answer';
        document.body.appendChild(rhythm_answer);
        question_number = parseInt(document.getElementById('question_title').innerText.replace(/[^0-9\.]/g, ''));

        if (exam[question_number].answer_rhythm) {
            original_music = question.answer_rhythm;
        }
        else {
        original_music = question.given_rhythm.replace(/\|/g, '');
        }
        
        // console.log(original_music);
        var music = original_music;
        // console.log(music.split(''))

        /* listen for click. If there's no barline to the right of this note, add it
        /  if there is a bar line, remove it 
        /  then render the music again
        */
        initializeMusic (original_music);

        function isLetter (ch)
        {
        return typeof ch === "string" && ch.length === 1
            && (ch >= "a" && ch <= "z" || ch >= "A" && ch <= "Z");
        }
        function isNumber(ch)
        {
            num = parseInt(ch);
            bool = (typeof num == "number");
            return bool;
        }

        function addBarLine (music, position) {
            music = music.slice(0, position + 1) + "|" + music.slice (position + 1, music.length);
            return music;
        }

        function check (music, position) {
            test = music.charAt(position + 1)
            if (test == " "){
                music = check (music, position + 1);
            }
            else if (isLetter(test) ) {music = addBarLine(music, position);}
            else if (isNumber(test)) {
                if (music.charAt(position + 3) == "|") {
                    music = addBarLine(music, position + 3)
                    }
                else {
                    music = addBarLine(music, position + 1)
                    }
            }

            return music.replace('\|\|', '').replace('\| \|', ''); /* remove doubles */replace
        }
                
        refresh.addEventListener("click", function (){
            initializeMusic(original_music);
            music = original_music;
                });
                

        function clickListener(abcelem, tuneNumber, classes, analysis, drag, mouseEvent) {
            charNum = abcelem.startChar;

            music = check(music, charNum);
            var visualObjs = ABCJS.renderAbc("paper", music, { add_classes: true }, { clickListener: clickListener });

            /* save to array */
            // console.log(exam[question_number]);
            exam[question_number].answer_rhythm = music;
            /* save to server */
            var pagebutton= document.getElementById("save-work");
            pagebutton.click();
        };
        
        function initializeMusic(music){
        var visualObjs = ABCJS.renderAbc("paper", music, { add_classes: true }, { clickListener: clickListener });
        // console.log (visualObjs)
        }
    };

    function show_ID_Notes(question) {
        // Create a container for this note
        createContainer(question);
        
        // Create an SVG renderer and attach it to the DIV element named "boo".
        var div = document.getElementById("boo1");
        var renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);

        // Size our SVG:
        renderer.resize(500, 150);

        // And get a drawing context:
        var context = renderer.getContext();

        // Create a stave at position 10, 40 of width 400 on the canvas.
        var stave = new VF.Stave(10, 40, 250);

        // Add a clef and time signature.
        clef_picker = 
        {
          "ID_Treble": "treble",
          "ID_Bass": "bass",
          "Write_Treble": "treble",
          "Write_Bass": "bass"
        }
        clef = clef_picker[question.question_type]
        stave.addClef(clef).addTimeSignature("4/4");

        // Connect it to the rendering context and draw!
        stave.setContext(context).draw();
        note_name_bar = document.getElementById("note-name-bar");
        button_bar = document.getElementById("button-bar");

        /* get the button bar */ 
        if ((question.question_type.slice(0,2)) == "ID") {
            note_name_bar.style.display = "block";
            button_bar.style.display = "none";

            if (question.answer_pitch) {
                $(answer1).html ("<strong> Your answer is " + question.answer_pitch.toUpperCase() + question.answer_accidental + "</strong>");
            }
            else {
                $(answer1).html ("<strong> Please click on a note and/or accidental to answer </strong>");
            }

            if (!question.given_accidental) {
                var notes = [
                new VF.StaveNote({clef: clef, keys: [question.given_pitch + "/" + question.given_octave], duration: "w" }),];
            }    
            else {
                var notes = [new VF.StaveNote({clef: clef, keys: [question.given_pitch + "/" + question.given_octave], duration: "w" }).addAccidental(0, new VF.Accidental(question.given_accidental)),];
            }

            var voice = new VF.Voice({num_beats: 2,  beat_value: 2});
            voice.addTickables(notes);

            // Format and justify the notes to 400 pixels.
            var formatter = new VF.Formatter().joinVoices([voice]).format([voice], 400);

            // Render voice
            voice.draw(context, stave);

        }


        else if ((question.question_type.slice(0,2)) == "Wr") {
            note_name_bar.style.display = "none";
            button_bar.style.display = "block";
            
            if (clef == "treble") {
                var pitches = ['d/4', 'd/4', 'd/4', 'd/4', 'd/4', 'e/4', 'f/4', 'g/4', 'a/4', 'b/4', 'c/5', 'd/5', 'e/5', 'f/5', 'g/5', 'g/5', 'g/5', 'g/5', 'g/5', 'g/5']
                }
            else if (clef == "bass") {
                var pitches = ['f/2', 'f/2', 'f/2', 'f/2', 'f/2', 'g/2', 'a/2', 'b/2', 'c/3', 'd/3', 'e/3', 'f/3', 'g/3', 'a/3', 'b/3', 'b/3', 'b/3', 'b/3', 'b/3', 'b/3']
            };

            /* check if there's an answer already and display it */
            if (question.answer_pitch) {
                if (!question.answer_accidental) {
                    var accidental1 = "";
                    var notes = [
                    new VF.StaveNote({clef: clef, keys: [question.answer_pitch + "/" + question.answer_octave], duration: "w" }),];
                }    
                else {
                    var notes = [
                    new VF.StaveNote({clef: clef, keys: [question.answer_pitch + "/" + question.answer_octave], 
                    duration: "w" }).addAccidental(0, new VF.Accidental(question.answer_accidental)),];
                    var accidental1 = question.answer_accidental
            }
            
            var voice = new VF.Voice({num_beats: 2,  beat_value: 2});
            voice.addTickables(notes);

            // Format and justify the notes to 400 pixels.
            var formatter = new VF.Formatter().joinVoices([voice]).format([voice], 400);

            // Render voice
            voice.draw(context, stave);
            }   

            else {
                var accidental1 = ""
            };


            /* find root svg element for this div */
            svg = div.querySelector('svg');
        
            /* add event listener for mouse click */
            svg.addEventListener('click', function (evt) {

                $('.accidental').on("click", function(evt) { 
                var accidental1 = this.id;
                if (question.answer_pitch) {
                    removeElements();
                    drawNotes (clef, question.answer_pitch + '/' + question.answer_octave, accidental1, context, stave);
                    // console.log(typeof (accidental1));
                    question.answer_accidental = accidental1;
                    // console.log(question);
                    // document.getElementById('current_accidental').innerHTML = question.answer_accidental;
                    }
                });
        
                var rect = this.getBoundingClientRect(); /* get bounding rectangle */
                var x = evt.clientX - rect.left; /*subtract left corner from global x */
                var y = evt.clientY - rect.top; /*subtract right corner from global y */
                
                var rounded_y = Math.ceil(y/5)*5;

                var index = 20 - Math.abs(rounded_y - 50)/5;
                var pitch = pitches[index];
                console.log(question.answer_accidental);
                question.answer_pitch = pitch.slice(0,1);
                question.answer_octave = pitch.slice(2,3);
                removeElements();
                drawNotes (clef, question.answer_pitch + '/' + question.answer_octave, question.answer_accidental, context, stave);

        },false);

        }
        return question;

};


    function removeElements () {
        /* remove exisiting notes */
        element = document.getElementById("boo1").getElementsByTagName("g");
        // remove stave lines? how to redraw? Maybe just remove the ones added recently (ledger lines?) 
        paths = document.getElementById("boo1").getElementsByTagName("path");
        // console.log(paths)

        for (index = element.length - 1; index >= 0; index--) {
            element[index].parentNode.removeChild(element[index]);
        };                
    };

    function drawNotes(clef, pitch, accidental1, context, stave) {
        /* create new note */ 
        if (!accidental1) {
        var notes = [
            new VF.StaveNote({clef: clef, keys: [pitch], duration: "w" }),
            ];
        }
        else {
            var notes = [new VF.StaveNote({clef: clef, keys: [pitch], duration: "w" }).addAccidental(0, new VF.Accidental(accidental1)),];       
        }
            var voice = new VF.Voice({num_beats: 2,  beat_value: 2});
            voice.addTickables(notes);
        // Format and justify the notes to 400 pixels.
            var formatter = new VF.Formatter().joinVoices([voice]).format([voice], 400);
        // Render voice
        voice.draw(context, stave);
        return true;
    };


});






</script>
{% endblock javascript %}